<%= simple_form_for(@entry) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.association :user %>
    <%= f.association :counter %>
    <%= f.input :date %>
    <%= f.input :feedback %>
    <%= f.input :description %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
