<h1 align="center">Customer Response Statistic</h1>
<hr>
<br>

<% content_for :head do %>

        <script type="text/javascript">

          // Load the Visualization API and the corechart package.
          google.charts.load('current', {'packages':['corechart']});

          // Set a callback to run when the Google Visualization API is loaded.
          google.charts.setOnLoadCallback(drawChart);

          // Callback that creates and populates a data table,
          // instantiates the pie chart, passes in the data and
          // draws it.
          function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Counter');
            data.addColumn('number', 'Feedback');
            data.addRows([
              ['Sangat Puas', <%= @all_entries.where(feedback: '3').count %>],
              ['Puas', <%= @all_entries.where(feedback: '2').count %>],
              ['Cukup Puas', <%= @all_entries.where(feedback: '1').count %>],
              ['Tidak Puas', <%= @all_entries.where(feedback: '0').count %>]
            ]);

            // Set chart options
            var options = {'title':'Total Feedback Score',
                           'width':400,
                           'height':300,
                           'colors': ['#008744', '#0057e7', '#ffa700', '#DC3912']};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('total_feedback'));
            chart.draw(data, options);
          }
        </script>

<% end %>

<div id="total_feedback"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Total Feedback Score</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sangat Puas</th>
          <th>Puas</th>
          <th>Cukup Puas</th>
          <th>Tidak Puas</th>
          <th>Total Feedback</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @all_entries.where(feedback: '3').count %></td>
          <td><%= @all_entries.where(feedback: '2').count %></td>
          <td><%= @all_entries.where(feedback: '1').count %></td>
          <td><%= @all_entries.where(feedback: '0').count %></td>
          <td><%= @all_entries.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="teller_div"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Teller Score</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Counter Name</th>
          <th>User Fullname</th>
          <th>User Email</th>
          <th>User Role</th>
          <th>Sangat Puas</th>
          <th>Puas</th>
          <th>Cukup Puas</th>
          <th>Tidak Puas</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.counter_name %></td>
          <td><%= user.firstname %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <% if user.entries.present? %>
          <td><%= user.entries.where(feedback: '3').count('feedback') %></td>
          <td><%= user.entries.where(feedback: '2').count('feedback') %></td>
          <td><%= user.entries.where(feedback: '1').count('feedback') %></td>
          <td><%= user.entries.where(feedback: '0').count('feedback') %></td>
          <% else %>
          <td colspan="4">This user have no feedback yet.</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="teller_div"></div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Counter Score</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Counter Name</th>
          <th>Sangat Puas</th>
          <th>Puas</th>
          <th>Cukup Puas</th>
          <th>Tidak Puas</th>
        </tr>
      </thead>
      <tbody>
        <% @counters.each do |counter| %>
        <tr>
          <td><%= counter.name %></td>
          <% if counter.entries.present? %>
          <td><%= counter.entries.where(feedback: '3').count('feedback') %></td>
          <td><%= counter.entries.where(feedback: '2').count('feedback') %></td>
          <td><%= counter.entries.where(feedback: '1').count('feedback') %></td>
          <td><%= counter.entries.where(feedback: '0').count('feedback') %></td>
          <% else %>
          <td colspan="4">This counter have no feedback yet.</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="counter_daily"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Counter Daily Score</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Counter Name</th>
          <th>Date</th>
          <th>Sangat Puas</th>
          <th>Puas</th>
          <th>Cukup Puas</th>
          <th>Tidak Puas</th>
        </tr>
      </thead>
      <tbody>
        <% @counters_dates.each do |counter| %>
        <tr>
          <td><%= counter['name'] %></td>
          <td><%= counter['date'] %></td>
          <td><%= @entries.select { |entry| (entry['name'] == counter['name'] and entry['date'] == counter['date'] and entry['feedback'] == "3") }.first ? @entries.select { |entry| (entry['name'] == counter['name'] and entry['date'] == counter['date'] and entry['feedback'] == "3") }.first['jumlah'] : 0 %></td>
          <td><%= @entries.select { |entry| (entry['name'] == counter['name'] and entry['date'] == counter['date'] and entry['feedback'] == "2") }.first ? @entries.select { |entry| (entry['name'] == counter['name'] and entry['date'] == counter['date'] and entry['feedback'] == "2") }.first['jumlah'] : 0 %></td>
          <td><%= @entries.select { |entry| (entry['name'] == counter['name'] and entry['date'] == counter['date'] and entry['feedback'] == "1") }.first ? @entries.select { |entry| (entry['name'] == counter['name'] and entry['date'] == counter['date'] and entry['feedback'] == "1") }.first['jumlah'] : 0 %></td>
          <td><%= @entries.select { |entry| (entry['name'] == counter['name'] and entry['date'] == counter['date'] and entry['feedback'] == "0") }.first ? @entries.select { |entry| (entry['name'] == counter['name'] and entry['date'] == counter['date'] and entry['feedback'] == "0") }.first['jumlah'] : 0 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="monthly_div"></div>
