<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Customer Response Statistic</h3>
  </div>
  <div class="panel-body">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Counter Name</th>
      <th>User Fullname</th>
      <th>User Email</th>
      <th>User Role</th>
      <th>Sangat Puas</th>
      <th>Puas</th>
      <th>Cukup Puas</th>
      <th>Tidak Puas</th>
    </tr>
  </thead>

  <tbody>
    <% @counters.each do |counter| %>
        <% if counter.users.present? %>
          <% counter.users.each do |user| %>
            <tr>
            <td><%= user.counter_name %></td>
            <td><%= user.firstname %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
                <% if user.entries.present? %>
                    <td><%= user.entries.where(feedback: '3').count('feedback') %></td>
                    <td><%= user.entries.where(feedback: '2').count('feedback') %></td>
                    <td><%= user.entries.where(feedback: '1').count('feedback') %></td>
                    <td><%= user.entries.where(feedback: '0').count('feedback') %></td>
                <% else %>
                  <td colspan="4">This user have no feedback yet.</td>
                <% end %>
            </tr>
          <% end %>
        <% end %>
    <% end %>
  </tbody>
</table>

  </div>
</div>

