<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @entry.user %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @entry.counter %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @entry.feedback %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
